.App header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 28px 32.4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.099);
}

.left {
	display: flex;
}

.logo {
	width: 138px;
	margin-right: 57px;
}

.logo img {
	width: 100%;
}

nav ul {
	display: inline-flex;
	gap: 32.2px;
}

nav ul li a {
	text-decoration: none;
	line-height: 1;
	font-size: 15.3px;
	color: var(--black);
}

.cart {
	display: inline-block;
	border-radius: 50%;
}

.cart span.cart-icon {
	display: block;
	width: 50px;
	aspect-ratio: 1;
	background-image: url('/images/icon-cart.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20.4px;
}

.user-avatar {
	display: inline-block;
	aspect-ratio: 1;
	height: 50px;
	margin-left: 31px;
}

.user-avatar img {
	width: 100%;
}
