.product-details {
	margin-top: 64px;
}

.product-details h3.company-name {
	color: var(--primary-orange);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 13px;
	letter-spacing: 1.9px;
	margin-bottom: 21px;
}

.product-details h1.product-name {
	color: var(--black);
	font-size: 44px;
	font-weight: 800;
	line-height: 1.08;
	margin-bottom: 36.9px;
}

.product-details p.product-description {
	letter-spacing: 0.09px;
	line-height: 1.57;
	margin-bottom: 30.3px;
}

.product-details .pricing {
	margin-bottom: 39px;
}

.product-details .pricing h2.product-price {
	font-weight: 800;
	font-size: 28px;
	letter-spacing: 1.3px;
	line-height: 0.93;
	display: flex;
	align-items: center;
	gap: 13px;
	margin-bottom: 15px;
}

.product-details .pricing h2.product-price span.discount {
	display: inline-block;
	font-size: 16px;
	background-color: var(--primary-pale-orange);
	color: var(--primary-orange);
	padding: 5.8px 8px;
	border-radius: 5px;
}

.product-details .pricing .previous-price {
	font-weight: 800;
	text-decoration: line-through;
	color: var(--accent-grayish-blue);
	letter-spacing: 0.8px;
}

.product-details .controls {
	display: flex;
	justify-content: space-between;
	gap: 13px;
}

.product-details .controls .quantity {
	flex-grow: 1;
	display: flex;
	align-items: center;
	border-radius: 9px;
	overflow: hidden;
}

.product-details .controls .quantity > * {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-details .controls .quantity button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.product-details .controls .quantity button.decrease {
	display: block;
	background: url('/images/icon-minus.svg') no-repeat center;
	background-position: 16px center;
}

.product-details .controls .quantity button.increase {
	display: block;
	background: url('/images/icon-plus.svg') no-repeat center;
	background-position: 28px center;
}

.product-details .controls .quantity span.value {
	text-align: center;
	color: var(--black);
	font-weight: 700;
	font-size: 17px;
}

.product-details .controls button.add-to-cart {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 18px 79px;
	border-radius: 9px;
	border: none;
	background-color: var(--primary-orange);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 11px;
	cursor: pointer;
}

.product-details .controls button.add-to-cart span.icon {
	display: inline-block;
	aspect-ratio: 1;
	width: 19px;
	/* background: url('/images/icon-cart.svg') no-repeat; */
	background-position: center 1px;
	background-size: contain;
}
