:root {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--black);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* colors */
	--primary-orange: hsl(26, 100%, 55%);
	--primary-pale-orange: hsl(25, 100%, 94%);

	--accent-very-dark-blue: hsl(220, 13%, 13%);
	--accent-dark-grayish-blue: hsl(219, 9%, 45%);
	--accent-grayish-blue: hsl(220, 14%, 75%);
	--accent-light-grayish-blue: hsl(223, 64%, 98%);

	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	/* layout */
	--container-max-width: 1110px;
}

body {
	margin: 0;
}
